
snippet url "BibtexLink" wi
@misc{${1:${VISUAL}},
  howpublished = "\url{}",
  author	   = {},
  title  	   = {{}},
  year   	   = {20},
  note   	   = "[Online; accessed 19-July-2008]"
}
endsnippet

